<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Coachee.io</title>
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap" rel="stylesheet">
  <style type="text/css">
    body {
      font-family: 'Lato', sans-serif;
      margin: 0; 
      padding: 0; 
      min-width: 100%!important;
      font-size: 16px;
      line-height: 1.5;
    }
    .content {
      width: 600px;
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Open Sans', sans-serif;
    }
    h1 {
      font-size: 36px;
    }
    h2 {
      font-size: 24px;
    }
    </style>
</head>
<body style="margin: 0; padding: 0;" bgcolor="#F4F3F3" width="600px">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <table style="width: 100%; max-width: 600px" align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <div style="padding: 30px 15px 0">
                <a href="www.coachee.io">
                  <img src="../../static/images/logo.svg" alt="Coachee Logo" />
                </a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="padding: 0 15px">
                <h2>Welcome to Coachee base template</h2>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="padding: 0 15px">
                <p>Please, confirm your email address using the link below to finish your registration</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="padding: 0 15px">
                <p style="text-align: center">button</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="padding: 0 15px">
                <p style="text-align: center">image</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="padding: 0 15px">
                <p>Once it is done, you can check our certified coaches and start your journey!</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="padding: 0 15px">
                <p style="text-align: center">button</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="padding: 0 15px">
                <p>GDPR copyright</p>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>