{{template "header"}}
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <table style="width: 100%; max-width: 600px" align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              {{template "logo"}}
            </td>
          </tr>
          <tr>
            <td>
              <div style="padding: 0 15px">
                <h2 class="heading--primary">Welcome to Coachee</h2>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="padding: 0 15px">
                <p>You have just taken another step to improving your life and start your coaching journey!</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="padding: 0 15px">
                <div class="image">
                  <img src="https://gist.githubusercontent.com/coachee-admin/5123b389c87e252100d47e06d1e88d3f/raw/8fe3d05a20bba87d0107a14c29de6b754bb616f7/mail.svg" alt="Welcome Email" />
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="padding: 0 15px">
                <p>Click below to check all our certified coaches, and do contact us by replying to this email if you have any questions.</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="padding: 0 15px">
                <p style="text-align: center">
                  <a href="{{.SecondaryURL}}" class="link link--accent">
                    Start Browsing
                  </a>
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              {{template "copyright"}}
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
{{template "footer"}}